<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ds24.ds24android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".FilterActivity"
            android:label="@string/find_with_params"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".filterActivities.ContractsActivity"
            android:label="@string/contractors"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.StreetActivity"
            android:label="@string/street"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.HouseActivity"
            android:label="@string/house"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.FlatActivity"
            android:label="@string/flat"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.WorkTypeActivity"
            android:label="@string/work_type"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.ReasonActivity"
            android:label="@string/reason"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.ResponsibleActivity"
            android:label="@string/responsible"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.EmployeeActivity"
            android:label="@string/employee"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.StatusActivity"
            android:label="@string/status"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.RequestTypeActivity"
            android:label="@string/request_type"
            android:parentActivityName=".FilterActivity" />
        <activity
            android:name=".filterActivities.PeriodActivity"
            android:label="@string/period"
            android:parentActivityName=".FilterActivity" />
        <activity android:name=".DetailedActivity"/>
        <activity android:name=".StatusChangeActivity"
            android:label="@string/status"
            android:parentActivityName=".DetailedActivity"/>
        <activity android:name=".ResponsibleChangeActivity"
            android:label="@string/responsible"
            android:parentActivityName=".DetailedActivity"/>
        <activity android:name=".EmployeeChangeActivity"
            android:label="@string/employee"
            android:parentActivityName=".DetailedActivity"/>
    </application>

</manifest>